 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/lisa-keffer-3B8nIiT-Pmc-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 416px;
  margin: 62px auto 60px -4px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 3px 0 auto;
  padding: 10px 131px 11px 129px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: normal;
  margin: -60px auto 0 0;
  padding: 9px 169px 11px 168px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px auto 0 0;
  padding: 9px 36px 11px 35px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -62px 0 0 auto;
  padding: 10px 183px 11px 182px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 38px auto 0 0;
  padding: 10px 67px 10px 66px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -62px 3px 0 auto;
  padding: 9px 192px 11px 191px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px auto 0 -3px;
  padding: 10px 194px 10px 193px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -62px 0 0 auto;
  padding: 10px 202px 11px 200px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 4px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -57px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 48px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -62px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 39px;
  }
}